@keyframes scale {
    0% {
      scale3d: 1;
    }
  
    100% {
      scale3d: 1.25;
    }
  }
  
  @keyframes fill {
    0% {
      opacity: 0%;
    }
  
    100% {
      opacity: 100%;
    }
  }
  
  .like-icon.is-liked .sparks {
    animation: fill 0.3s ease-in 0.3s;
    animation-iteration-count: 1;
  }

  .like-icon.is-liked .heart {
    animation: scale 0.3s ease-in 0.1s;
    animation-iteration-count: 1;
  }

  .contour {
    fill: var(--contour-color);
    transition: fill 0.1s linear;
  }

  .core {
    fill: transparent;
    transition: fill 0.3s 0.03s;
  }
  
  .like-icon:hover .core {
    fill: var(--contour-color);
    transition: fill 0.3s;
  }
  
  .main-body {
    fill: transparent;
    transition: fill 0.3s;
  }
  
  .like-icon:hover .main-body {
    fill: var(--contour-color);
    transition: fill 0.3s 0.05s;
  }
  
  .like-icon:active .core {
    fill: var(--animation-fill-color);
    transition: fill 0.3s;
  }
  
  .like-icon:active .main-body {
    fill: var(--animation-fill-color);
    transition: fill 0.3s 0.05s;
  }
  
  .like-icon.is-liked .core {
    fill: var(--animation-fill-color);
    transition: fill 0.3s;
  }
  
  .like-icon.is-liked .main-body {
    fill: var(--animation-fill-color);
    transition: fill 0.3s 0.05s;
  }
  
  .like-icon.is-liked .contour {
    fill: var(--animation-fill-color);
    transition: fill 0.3s 0.06s;
  }