:root {
    --main-font: 'Inter-Variable', sans-serif;
    --accent-font: 'PressStart2P', fantasy;
    --main-color: white;
    --accent-color: black;
    --font-weight-normal: 400;
    --font-weight-bold: 700;
    --stroke-color: white;
    --mob-header-size: 100dvw;
    --mob-content-size: 100dvw;
    --contour-color: black;
    --animation-fill-color: #FF0000;
    --bg-gradient:
        repeating-linear-gradient(to right,#d3d3d3, #d3d3d3 2px, transparent 2px, transparent 4px),
        repeating-linear-gradient(to bottom,#d3d3d3, #d3d3d3 2px, transparent 2px, transparent 4px),
        linear-gradient(to bottom,#e7e7e7 0.01%, #1a1a1a);
}